#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
Netbeans_Project/nbproject/private/
Netbeans_Project/build/
Netbeans_Project/nbbuild/
Netbeans_Project/dist/
Netbeans_Project/nbdist/
Netbeans_Project/nbactions.xml
Netbeans_Project/nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag